<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="StorageName" value="blobfakes" />
		<add key="StorageKey" value="Eb6kj0wCgN1bxcoiHWzvdZILfDbaigD74DTuUjcSxL2OiVxSvbVH4VasXs/c76Rj3Z8gJQ7hP/GNnq+Bm8LFdg==" />
		<add key="ContainerName" value="boards" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>